/* src/styles/AccountSettings.css */
.account-settings {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-top: 5px;
}

button {
  padding: 10px;
  background-color: black; //add color
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: black; //add color
}

.error {
  color: red;
}

.success {
  color: green;
}
